<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
             connectionString="Data Source=DESKTOP-TU6VN7B;Initial Catalog=MobileShopedb;Integrated Security=True;Trust Server Certificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>